
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3 {
            color: green;
        }
        .content {
            color: red;
        }
    </style>
</head>
<body>
    <h3 class = "content">This is the main Content</h3>
    <button onclick = "remove_class"> Click Me </button>
</body>
</html>
    

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        span{
            background-color: yellow;
            color: red;
            
            

        }
        .class{
            border: 2px solid purple;
            color: blue;
        }
        #id{
            background-color: aqua;
            color: red;
        }
    </style>
</head>
<body>
    
    <span class="class" id="id"> SPAN 1</span>
    
    <span class="class"> SPAN 2</span>
    <span> SPAN 3</span>
    <br>
    

</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol type = "a" begin = "2">
        <li>he</li>
    <ol type = "a" first = "b">
    <ol type = "a" letter = "b">
    <ol type = "a" start = "2">
</body>
</html> -->

