<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        span{
            background-color: yellow;
            color: red;
            
            

        }
        .class{
            border: 2px solid purple;
            color: blue;
        }
        #id{
            background-color: aqua;
            color: red;
        }
    </style>
</head>
<body>
    
    <span class="class" id="id"> SPAN 1</span>
    
    <span class="class"> SPAN 2</span>
    <span> SPAN 3</span>
    <br>
    <!-- <img src="./Screenshot 2025-02-17 102110.png" height="350px"> -->

</body>
</html>